.nav {
    background-color: $color_back-nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 184px;
  
    margin: 0;
    padding: 0 12%;
    overflow: hidden;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 20px 20px;
    }
  
    &__rightbox {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;

        @media (max-width: 768px) {
            justify-content: center;
        }

        a {
            color: $color_text-nav;
            font-size: 1.3rem;
            text-decoration: none;
            padding: 20px;

            &:hover:not(.active) {
                border: solid 1px black;
                border-radius: 10px;
              }
        }  
    }
  
    &__leftbox {
        display: flex;
    
        img {
            height: 150px;
            padding: 5px;
            margin-right: 50px;
            margin-left: 50px;

            @media (max-width: 768px) {
                height: 75px;
            }
        }
   }
}

.active {
    color: black;
    font-weight: 600;
}

