.home__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 65%;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      font-size: 1.6rem;
    }
  }
  img {
    width: 100%;
  }
  &__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    p {
      margin-right: 30px;
    }
    &-heading {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }
  &__google {
    width: 100%;
    iframe {
      width: 100%;
      margin-bottom: -30px;
      @media (max-width: 768px) {
        height: 200px;
      }
    }
  }
}
