.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 20px 10% 0 10%;
    line-height: 1.7;

    @media (max-width: 768px) {
        align-items: center;
    }

        h1 {
            text-transform: uppercase;
            font-size: 2.3rem;
            margin-bottom: 15px;
            padding-left: 10%;
        }

        h2 {
            text-transform: uppercase;
            font-size: 1.9rem;
            margin: 20px 0 12px 0;
        }
}

.alone {
    padding-left: 10%;
    margin: 0;
}

.upper-section,
.lower-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .category {
    width: 350px;
    margin: 0 20px;

    &__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.bottom-img img {
  width: 100%;
  margin-bottom: -30px;
  margin-top: 30px;
}
