.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 10%;
    line-height: 1.5;
}

.upper-section,
.lower-section {
    display: flex;
    flex-direction: row;

    .category {
       width: 350px;
       margin-right: 70px;

        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}