$color_back-nav: #F8F9FA;
$color_text-nav: #000000;
$color_back-footer: #343A40;
$color_text-footer: #0099FF;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@import "header.scss";
@import "footer.scss";
