$color_back-nav: #f8f9fa;
$color_text-nav: #000000;
$color_back-footer: #343a40;
$color_text-footer: white;
$color-link-footer: #0099ff;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@import "header.scss";
@import "footer.scss";
